body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    background-color: #FFF;
    color: #000;
}

.logo {
    width: 20vw;
    margin-bottom: 40px;
}

h1 {
    margin-bottom: 10px;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}
.login{
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    padding: 25px;
    text-align: center;
}

.green {
    color: #a5fed2;
}
.purple {
    color: #4d3cbf;
}

.app {
	width: 100%;
    padding: 25px;
    margin-bottom: 20px;
}

.fas, .icon {
    width: 100%;
}
