html {
	height: 100%;
}

.hover:hover {
	opacity: 0.75;
}

body {
	font-size: 100%;
	height: 100%;
	background-color: #F4EEFF; /*#######*/
	font-family: 'Kanit', sans-serif;
}

h1 {
	font-size: 150%;
}

h3 {
	color: #424874;
}

.b {
	/*color: #7895B2;*/
	font-weight: 600;
}

.card {
	height: 100%;
	border: 0px;
	border-radius: 8px;
	background-color: #DCD6F7; /*########*/
	/*font-weight: 300;*/
	/*color: white;*/
	/*box-shadow: 3px 3px 8px #ddd;*/
}

.card-dark {
	background-color: #121212;
	color: #fff;
}

.child {
	margin: auto;
}

.card-header {
	font-weight: bold;
	text-align: center;
	padding: 8px;
}

.free {
	background: #a5fed2;
	color: #2ea162;
}

.paid {
	background: #a8e7ea;
	color: #2196f3;
}

.card-body {
	padding: 25px;
}

.holderr {
	padding: 10px;
	height: 100%;
}

.holder {
	background-color: #ddd;
	border-radius: 8px;
	padding: 25px;
	height: 100%;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-primary:focus {
	width: 100%;
	border-radius: 8px;
	color: #fff;
	background-color: #424874; /*#########*/
	outline: none;
	border: none;
	box-shadow: none;
	padding: 9px;
	/*font-weight: 600;*/
}

.modal-toggle {
	cursor: pointer;
	font-style: italic;
}

.modal-footer {
	border-top: 0px;
}

.modal-content {
	border-radius: 9px;
	border: none;
}

.modal-body {
	padding: 25px;
	padding-bottom: 0px;
}

.bold {
	font-weight: bold;
}


.below-button {
	margin-top: 0px;
	margin-bottom: 15px;
	color: #777;
}

video {
	width: 100%;
}

.spin {
	display: inline-block;
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}

@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    0% {
        -webkit-transform: rotate(0deg);
    }
    25% {
        -webkit-transform: rotate(10deg);
    }
    50% {
        -webkit-transform: rotate(0deg);
    }
    75% {
        -webkit-transform: rotate(-10deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }   
}

.pp {
	border-radius: 50%;
	max-width: 100px;
}

h3 > a {
	font-size: 1rem;
    font-weight: 400;
    color: #606060;
}

.appinuse {
	filter: drop-shadow(5px 5px 5px #ddd);
}

.list-group-item {
	background-color: #eee;
	border: 1px solid #aaa;
}

.w-80 {
	width: 80%;
}

.link-dark {
	cursor: pointer;
	color: black;
}