:root {
	color-scheme: dark;
}

html {
	height: 100%;

}

body {
	font-size: 100%;
	height: 100%;
	background-color: #0a0704;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	color: #ddd;
}

h1 {
	font-size: 150%;
	color: #ddd;
}

h2 {
	color: #eee;
}

.heavy {
	font-weight: 700;
}

.flag {
	width: 30px;
	opacity: 0.6;
	margin-left: 2px;
	margin-right: 2px;
}

.flag-selected {
	opacity: 1;
}

.card {
	height: 100%;
	border: 0px;
	color: black;
	background-color: #dfeaed;
	border-radius: 8px;
	overflow: hidden;
	cursor: pointer;
}

.card-img-top {
	width: 40%;
}

.child {
	margin: auto;
}

.card-header {
	text-align: center;
	padding: 8px;
	border-bottom: 0px;
	background-color: #d5e3e6;
}

.card-body {
	padding: 25px;
	padding-bottom: 20px;
	border-radius: 0.25rem;
}

.btn-primary {
	border: none;
	background-color: #7eb449;
	width: fit-content;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
	border: none;
	background-color: #5ba117;
	color: white;
	box-shadow: none;
}

.btn-di {
	color: white;
	background-color: #7289dadb;
	padding: 0px;
}

.btn-di:hover {
	color: white;
	background-color: #4967d0db;
}

.btn-ai {
	color: black;
	background-color: #8BC34Aa1;
}

.btn-ai:hover {
	color: black;
	background-color: #8BC34A;
}

.modal-dialog {
	max-width: 600px;
}

.modal-toggle {
	cursor: pointer;
	font-style: italic;
}

.modal-footer {
	border-top: 0px;
}

.modal-content {
	border: none;
}

.modal-body {
	padding: 25px;
	padding-bottom: 0px;
}

.bold {
	font-weight: bold;
}


.below-button {
	margin-top: 0px;
	margin-bottom: 15px;
	color: #777;
}

video {
	width: 100%;
}

.shadoww {
	box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.spin {
	display: inline-block;
	-webkit-animation:spin 60s linear infinite;
	-moz-animation:spin 60s linear infinite;
	animation:spin 60s linear infinite;
}

@keyframes spin { 
	100% { -webkit-transform: rotate(360deg); } 
}

.pp {
	border-radius: 50%;
	max-width: 100px;
}

h3 > a {
	font-size: 1rem;
	font-weight: 400;
	color: #606060;
}

.appinuse {
	filter: drop-shadow(5px 5px 5px #ddd);
}

.list-group-item {
	background-color: #eee;
	border: 1px solid #aaa;
}

.w-80 {
	width: 80%;
}

.link-dark {
	cursor: pointer;
	color: black;
}

.lg-arrow {
	font-size: 50px;
}

.bg-whit {
	background-color: #f1f6f7;
}


.bg-black {
	background-color: #efefef;
}

.bg-blue {
	background-color: #f1f6f7;
}

.bg-blue {
	background-color: #f1f6f7;
}

.bg-icon {
	background-color: #f1f6f7;
}

.txt-black {
	color: black;
}

.yellow {
	color: #f2c724;
}

.footer {
	background-color: #090908;
	color: #fff;
}

.atm {
	color: #5865f2;
	background-color: #f1f1f1;
	padding: 4px;
	border-radius: 3px;
	white-space: nowrap;
}

.round {
	border-radius: 10px;
}

.db {
	background-color: #3c4270;
	color: #f2f3ff;
	font-weight: normal;
	padding: 4px 8px;
	border-radius: 5px;
	font-size: 20px;
	margin-right: 4px;
}

.yt {
	text-decoration-line: underline;
	text-decoration-thickness: 5px;
	text-decoration-color: #880000;
}

.dc {
	text-decoration-line: underline;
	text-decoration-thickness: 5px;
	text-decoration-color: #5865F2;
}

.bi {
	vertical-align: -0.06rem;
	padding-right: 8px;
}

.card .un {
  display: inline-block;
  color: #13637d;
}

.card .un::after {
  content: '';
  width: 0px;
  height: 3px;
  display: block;
  background: #13637d;
  transition: 300ms;
}

/*.card .un:hover::after {
  width: 100%;
}*/

.card:hover .un::after {
  width: 100%;
}