html {
	height: 100%;
}

body {
	font-size: 100%;
	height: 100%;
}

h1 {
	font-size: 150%;
}

.col-md-6 {
	/*padding: 0px;*/
}

.card {
	height: 100%;
	border: 0px;
	background-color: #eee;
}

.child {
	margin: auto;
}

.card-header {
	font-weight: bold;
	text-align: center;
	padding: 8px;
}

.free {
	background: #a5fed2;
	color: #2ea162;
}

.paid {
	background: #a8e7ea;
	color: #2196f3;
}

.card-body {
	padding: 25px;
}

.holderr {
	padding: 10px;
	height: 100%;
}

.holder {
	background-color: #ddd;
	border-radius: 5px;
	padding: 25px;
	height: 100%;
}

.btn-danger, .btn-danger:hover, .btn-danger:active, .btn-danger:visited {
	border-radius: 3px;
	background-color: #ffc107;
    border-color: #ffeb3b;
    color: black;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
	width: 100%;
	border-radius: 3px;
	color: #fff;
	background-color: #4d3cbf;
	border-color: #2c3d9b;
	font-weight: bold;
}

.modal-toggle {
	cursor: pointer;
	font-style: italic;
}

.modal-footer {
	border-top: 0px;
}

.bold {
	font-weight: bold;
}

iframe {
	border: 0;
	height: 70vh;
	width: 100%;
}

.below-button {
	margin-top: 0px;
	margin-bottom: 15px;
	color: #777;
}

.mt-50 {
	margin-top: 10px;
}

.nav-container {
	padding: 0px 10px;
}

video {
	width: 100%;
}

.pulse {
	display: inline-block;
}


.spin {
	display: inline-block;
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}

@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    0% {
        -webkit-transform: rotate(0deg);
    }
    25% {
        -webkit-transform: rotate(10deg);
    }
    50% {
        -webkit-transform: rotate(0deg);
    }
    75% {
        -webkit-transform: rotate(-10deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }   
}

.pp {
	border-radius: 50%;
	max-width: 100px;
}

h3 {
	font-size: 1rem;
    font-weight: 400;
    color: #606060;
}

.appinuse {
	filter: drop-shadow(5px 5px 5px #ccc);
}

.list-group-item {
	background-color: #eee;
	border: 1px solid #aaa;
}