body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    /*    background-image: url("idust.png");*/
    background-position: center;
    background-color: #FFF;
}
.logo {
    width: 20%;
    margin-bottom: 30px;
}
.container {
    margin-bottom: 80px;
}
h1 {
    text-align: left;
    color: #000;
    margin-bottom: 10px;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-size: 24px
}
.col-btn {
    border: 2px solid #000;
    color: #000;
    border-radius: 8px;
    height: 100%;
    padding: 20px;
}
.col-btn-d {
    border: 2px solid #000;
    background-color: #1d1d1b;
    border-color: #1d1d1b;
    color: #fff;
    border-radius: 8px;
    height: 100%;
    padding: 20px;
}
.col-btn-c {
    border: 2px solid #ff490c;
    background-color: #ff490c;
    color: #FFF;
    border-radius: 8px;
    height: 100%;
    padding: 20px;
}
.col-md-6 {
    padding: 15px;
}
.ex {
    width: 100%;
    padding-bottom: 20px;
}
.col-sm-12 {
    margin-top: 50px;
}
.orange {
    color: #ff490c;
}
a {
    text-decoration: none;
}
.rotated {
    transform: rotate(90deg);
}
.modaltriggre {
    cursor: pointer;
}
