@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

body {
    text-align: center;
}

img {
    width: 60%;
    margin-top: 50px;
    filter: invert(100%);
}

.img-container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
    color: #000;
    font-size: 18vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    font-family: 'Abril Fatface', cursive;
}