body {
	font-size: 100%;
	background-color: #ecf3f5;
	font-family: 'SF Pro Display', sans-serif;  
	color: #222;
	border: None;
	font-smooth: auto;
}

.pp {
	border-radius: 50%;
	max-width: 100px;
}

.kpm, .kpm:hover {
	font-size: 28px;
}

.goback, .goback:hover {
	text-decoration: none;
	color: #13637d;
	font-style: italic;
	font-weight: bold;
}

.card {
	font-size: 15px;
	border: 0px;
	color: #222;
	background-color: #dfeaed;
	border-radius: 8px;
	overflow: hidden;
	cursor: pointer;
	text-decoration: none;
}

.bg-card {
	background-color: #dfeaed;
	border-radius: 8px;
}

.card .un {
	display: inline-block;
	color: #13637d;
}

.card .un::after {
	content: '';
	width: 0px;
	height: 4px;
	display: block;
	background: #13637d;
	transition: 300ms;
}

.card:hover .un::after {
	width: 100%;
}

.card-img-top {
	width: 40%;
}

h5 {
	font-size: 18px;
}

.child {
	margin: auto;
}

.card-body {
	padding: 18px;
	padding-left: 5px;
}

video {
	width: 100%;
	border-radius: 8px;
}

.caption, .caption a {
	font-size: 10px;
	text-decoration: none;
	color: #888;
	font-style: italic;
}